@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    font-family: 'Roboto Condensed';
    display: grid;
    place-items: center;
    background: #ffffff;
    color: #fff;
  }
  
  .parent {
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 16px;
    
  }
  
  .result {
    font-size: 24px;
    border: 1px dotted #ffffff;
    padding:5px 10px;
  }
  
  .btn {
    border-radius: 16px;
    outline: none;
    padding: 18px 36px;
    background: #000;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
  }
  
  .btn:active {
    transform: translateY(7px);
  }
 